// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600;700;800&family=Inconsolata:wght@200;300;400;500;600;900&display=swap');

// Define fonts for body and headers
$body-font: 'Inconsolata', 'monospace';
$headers-font: 'Gluten', 'cursive';

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Geneva";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $geneva-font: "Geneva";

@font-face {
  font-family:'Geneva';
  src: local('Geneva'),
  url(./fonts/geneva.ttf) format('truetype');
}

body {
  font-family: 'Inconsolata', monospace;
  font-family: 'Gluten', cursive;
  margin: 9px;
}

h1{
  font-family: 'Gluten', cursive;
  font-size: 48px;
  font-weight: 700;
}

h2{
  font-family: "Silkscreen", sans-serif;
  font-size: 24px;
}

h3{
  font-family: "Silkscreen", sans-serif;
  font-size: 24px;
}

p{
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  font-weight: 300;
}
