.edit-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
  height:85vh;
}

.font-16:hover{
  text-decoration: underline;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.password-input{
  margin-top: 60px;
  margin-bottom: 0px !important;
}

.login-input-edit{
  background-color: white;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  border-radius: 15px;
  border: solid black 0.75px;
  margin-bottom: 20px;
  padding: 8px;
}

.edit-pic-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.center{
  text-align:center;
}

.mb-40{
  margin-bottom: 40px;

}

.neg-mt-20{
  margin-top: -20px;
}

.back{
  display:flex;
  justify-content: flex-start;
  width: 95%;
  margin-bottom: -30px;
}

.pt-30{
  padding-top: 30px !important;
}

.form-inputs-profpic{
  display:flex;
  flex-direction:column;
  align-items:center;
}
