@media (max-width: 768px) {
  .question {
    background: #79FFDF;
    border-radius: 20px;
    border: solid black 1px;
    padding: 7px 15px;
    text-align: center;
    margin: 5px;
  }

  .answer {
    background: #B4FD3E;
    border-radius: 30px;
    border: solid black 1px;
    width: 65%;
    padding: 10px 10px;
    text-align: center;
    margin: 5px;
  }

  .answer-flex{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .question-flex{
    display:flex;
    justify-content: flex-start;
  }
  .FAQ-div{
    display:flex;
    flex-direction: column;
  }
  .answer-flex{
    display:flex;
    justify-content: flex-end;
  }
}
@media (min-width: 768px) {
  .question{
    background: $blue;
    border-radius: 40px;
    border: solid black 1px;
    width: 30%;
    padding: 0px;
    text-align:center;
    margin: 5px;
  }

  .answer{
    background: #B4FD3E;
    border-radius: 64px;
    border: solid black 1px;
    width: 50%;
    padding: 0px 20px;
    text-align: center;
    margin: 5px;
  }
  .FAQ-div{
    display:flex;
    flex-direction: column;
    margin-top:20px;
  }
  .answer-flex{
    display:flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}





.question-flex{
  display:flex;
  justify-content: flex-start;
}
