@media (max-width: 768px) {
  .snacky-title{
    display:flex;
    justify-content: center;
    flex-direction:column;
  }

  .big-p{
    font-size: 16px;
    margin:0px;
  }

  .flex{
    display:block;
  }

  .post-div{
    display:flex;
    justify-content: center;
  }
  .form-container{
    padding: 0px 18px;
  }
  .comment-box{
    margin: 20px 0px 20px 0px;
    width: 80vw;
  }

}
@media (min-width: 769px) {
  .snacky-title{
    display:flex;
    justify-content: center;
  }

  .big-p{
    font-family: 'inconsolata';
    font-size: 20px;
  }

  .flex{
    display:flex;
    justify-content: space-between;
    align-items:center;
  }

  .post-div{
    display:flex;
    justify-content: flex-end;
    margin-right: 10px;
  }
  .form-container{
    width:70vw;
    margin: 0 auto;
  }
  .comment-box{
    margin: 20px 0px 20px 0px;
    width: 64vw;
  }

}
input[type="text"] {
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
}
.snacky-faq{
  display:flex;
  justify-content: center;
}

.underline{
  text-decoration: underline;
}

.form-text{
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  font-weight: bold;
}

.title{
  width:100%;
}

.review{
  width:100%;
  height: 9vh;
  padding-top:30px;
}
.brand{
  width: 150%;
}

.title-input{
  border-radius: 15px;
  border: solid black 0.75px;
  margin-bottom:20px;
  padding: 5px;
}

input[id="post_image"]{
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
}

input[type="file"] {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  // padding-left: 30px;
  border-radius: 20px;
}



.mapboxgl-ctrl-geocoder{
  border-radius:20px;
  border: solid black 0.5px;
  box-shadow: none
}

input::file-selector-button{
  font-family: 'Inconsolata', monospace;
  background-color: $yellow;
  border: solid $orange 1px;
  color: $orange;
  border-radius: 15px;
  margin-right: 20px;
}

input::file-selector-button:hover{
  border: solid orange 1px;
  background-color: yellow;
  color: orange;
}

#file-upload-button{
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
}



.login-text{
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  margin-right: 20px;
}

.login-input{
  background-color: white;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  border-radius: 15px;
  border: solid black 0.75px;
  margin-top:10px;
  margin-bottom:10px;
  padding: 8px;
}

.login-input-name{
  background-color: white;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  border-radius: 15px;
  border: solid black 0.75px;
  margin-top:10px;
  margin-bottom:10px;
  padding: 8px;
  width:90% !important;
  // margin-right: 10px !important;
}


.login-container{
  width: 80vw;
  margin: 0 auto;
}

.remember-me{
  border: solid black 0px;
}

label{
  font-family: 'Geneva';
}


option{
  color: $orange;
  background-color: $blue;
  font-family: 'Geneva';
}

.sign-in-form{
  display:flex;
  flex-direction: column;
  align-items:center;
}


.invalid-feedback{
  font-family: 'Geneva';
  font-size: 10px;
  color: rgba(0, 0, 0, 0.607);
}

.hint-text{
  font-family: "Inconsolata", monospace;
  font-size: 12px;
}

.display-none{
  display: none;
}

.form-control{
  font-family: 'Inconsolata';
  padding: 8px;
  border-radius: 15px;
  width: 100%;
}

.tag-selection{
  padding: 5px;
  margin-right: 5px;
  font-family: 'Inconsolata';
  border-radius: 24px;
  margin-top: 10px;
}

.grey-text{
  color: rgba(0, 0, 0, 0.579);

}

.edit-profile-container{
  padding-top: 20px
}

.font-16{
  font-size: 16px;
}

.label-text{
  font-family: 'Inconsolata';
  font-size: 14px;
  font-weight: 700;
  margin: 0px;
}

.mb-0{
 margin-bottom: 0px;
}

.pb-20{
  padding-bottom: 20px;
}

.hint{
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 300
}

.form-inputs{
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.mt-60{
  margin-top: 60px;
}

.mt-0{
  margin-top: 0px;
}
.search-form{
  display:flex;
}
