.form-container{
  width:70vw;
  margin: 0 auto;
}
.underline{
  text-decoration: underline;
}

.form-text{
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  font-weight: bold;
}
.address-wrapper{
//  flex: 1;
}
.upload{
  // flex: 1;
}

.title{
  width:100%;
}
.stars{
  padding-bottom: 20px;
}
.review{
  width:100%;
  height: 9vh;
  padding-top:30px;
}
.brand{
  width: 150%;
}
.country{
  // flex:1;
}
.upload-text{
}
.title-input{
  border-radius: 15px;
  border: solid black 0.75px;
  margin-bottom:20px;
  padding: 5px;
}

.flex{
  display:flex;
  justify-content: space-between;
  align-items:center;
}

input[id="post_image"]{
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
}

input[type="file"] {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  // padding-left: 30px;
  border-radius: 20px;
}

input[type="text"] {
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
}

.mapboxgl-ctrl-geocoder{
  border-radius:20px;
  border: solid black 0.5px;
  box-shadow: none
}

input::file-selector-button{
  font-family: 'Inconsolata', monospace;
  background-color: $yellow;
  border: solid $orange 1px;
  color: $orange;
  border-radius: 15px;
  margin-right: 20px;
}

input::file-selector-button:hover{
  border: solid orange 1px;
  background-color: yellow;
  color: orange;
}

#file-upload-button{
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
}



.login-text{
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  margin-right: 20px;
}

.login-input{
  background-color: white;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  border-radius: 15px;
  border: solid black 0.75px;
  margin-top:10px;
  margin-bottom:10px;
  padding: 8px;
}

.login-input-name{
  background-color: white;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  border-radius: 15px;
  border: solid black 0.75px;
  margin-top:10px;
  margin-bottom:10px;
  padding: 8px;
  width:90% !important;
  // margin-right: 10px !important;
}


.login-container{
  width: 80vw;
  margin: 0 auto;
}

.snacky-title{
  display:flex;
  justify-content: center;
}
.remember-me{
  border: solid black 0px;
}

label{
  font-family: 'Geneva';
}

// select{
//   color: black;
//   background-color: $orange;
//   font-family: 'Geneva';
//   border: solid $blue 1px;
// }

option{
  color: $orange;
  background-color: $blue;
  font-family: 'Geneva';
}

.sign-in-form{
  display:flex;
  flex-direction: column;
  align-items:center;
}

.post-div{
  display:flex;
  justify-content: flex-end;
    margin-right: 10px;
}

.invalid-feedback{
  font-family: 'Geneva';
  font-size: 10px;
  color: rgba(0, 0, 0, 0.607);
}

.hint-text{
  font-family: "Inconsolata", monospace;
  font-size: 12px;
}

.display-none{
  display: none;
}

.comment-box{
  width: 100%;
  margin: 20px 0px 20px 0px;
}

.form-control{
  font-family: 'Inconsolata';
  padding: 8px;
  border-radius: 15px;
  width: 100%;
}

.tag-selection{
  padding: 5px;
  margin-right: 5px;
  font-family: 'Inconsolata';
  border-radius: 24px;
  margin-top: 10px;
}

.grey-text{
  color: rgba(0, 0, 0, 0.579);

}

.edit-profile-container{
  padding-top: 20px
}

.font-16{
  font-size: 16px;
}

.label-text{
  font-family: 'Inconsolata';
  font-size: 14px;
  font-weight: 700;
  margin: 0px;
}

.mb-0{
 margin-bottom: 0px;
}

.pb-20{
  padding-bottom: 20px;
}

.hint{
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 300
}

.form-inputs{
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.mt-60{
  margin-top: 60px;
}

.mt-0{
  margin-top: 0px;
}

.hint-text-2{

}
