@media (max-width: 768px) {
  .sort{
    font-family: 'inconsolata', monospace;
    border-radius: 15px;
    height: 30px;
    border: 1.5px solid $green;
    background-color: #ffcaed;
    color: black;
  }

  label{
    font-family: 'inconsolata', monospace;
    font-size: 14px;
  }

  .image-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px 20px 0px;
  }

  .post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    margin: 0 auto;
    // border-bottom: solid black 0.5px;
    padding-bottom: 20px;
    margin-top: 10px;
  }

  .review-text {
    background-color: #ffcaed;
    padding: 5px 15px 5px 0px;
  }

  .stars{
    display:flex;
    margin-bottom: 20px;
    align-self:center;
  }

  .post-container-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: solid black 0.5px;
    padding: 30px 0px 30px 0px;
   }
   .delete-back {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 85vw;
}

  .comments-container {
    display: flex;
    width: 85vw;
    margin: 0 auto;
    justify-content: center;
    flex-direction:column;
  }

  .map-filter-container{
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .make-post{
    margin-top: 0px;
  }
  .border{
    margin-top: 25px;
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    height: 79vh;
    overflow: scroll;
  }
  .border-new-post {
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    overflow: scroll;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 74vh;
  }

  .profile-border {
    margin-top: 25px;
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    height: 79vh;
    overflow: scroll;
  }

  .border-show{
    margin-top: 35px;
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    height: 78vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .delete-back-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 130%;
}
  h3{
    font-family: 'Rubik';
    font-size: 24px;
  }

  .no-posts{
    text-align: center;
    padding: 30px;
  }
  .no-underline{
    text-decoration: none;
  }
  .reply-btn-div{
    display:flex;
    justify-content: flex-end;
    padding-top:10px;
    margin-right: -10px;
  }

  // .edit-btn {
  //   font-size: 18px;
  //   margin-right: -45px;
  // }
  .delete{
    font-size: 14px;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    background-color: #FFCAED;
    border: solid black 1px;
    border-radius: 30px;
    box-shadow: 2.5px 2.5px black;
    padding: 4px 8px;
    color: black;
    -webkit-appearance: none;
  }
  .tags-container{
    display:flex;
    width: 70vw;
    flex-wrap: wrap;
  }
  .tag {
    display: flex;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #ffcaed;
    border: solid 2px #b4fd3e;
    align-items: center;
    margin: 7px !important;
  }
  .post-info{
    display:flex;
    width:95%;
    justify-content:space-between;
    align-items:center;
    margin-top: 10px;
  }
  .post-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94%;
  }
  .image-div{
    display:flex;
    align-items:center;
    // width: 30vw;
    justify-content: center;
  }
}

@media (min-width: 769px) {
  .sort {
    font-family: 'inconsolata', monospace;
    border-radius: 15px;
    border: 2px solid #B4FD3E;
    background-color: #ffcaed;
    color: black;
    padding: 5px;
    margin-right: 5px;
}

  .image-text-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px 20px 0px;
  }

  .post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 65vw;
    margin: 0 auto;
    // border-bottom: solid black 0.5px;
    padding-bottom: 20px;
  }

  .review-text {
    /* background-color: white; */
    /* border: solid black 0.75px; */
    padding: 5px 15px 5px 0px;
    width: 37vw;
  }

  .stars{
    display:flex;
    margin-bottom: 20px;
  }

  .post-container-show{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 65vw;
    margin: 0 auto;
    border-bottom: solid black 0.5px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .delete-back{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 65vw;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .comments-container{
    width: 65vw;
    margin: auto;
  }

  .map-filter-container{
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .make-post{
    margin-top: 0px;
    padding-top: 20px;
  }
  .border, .profile-border, .border-show, .border-new-post{
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    height: 87vh;
    overflow: scroll;
  }

  .delete-back-2{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 130%;
  }

  h3{
    font-family: 'Rubik';
    font-size: 24px;
  }
  .no-posts{
    text-align: center;
    padding: 30px;
  }
  .reply-btn-div{
    display:flex;
    justify-content: flex-end;
    padding-top:10px;
  }
  .show-btn{
    font-size: 20px;
  }
  .show-btn:hover{
    text-decoration: underline;
  }

  .delete{
    font-size: 14px;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    background-color: #FFCAED;
    border: solid black 1px;
    border-radius: 30px;
    box-shadow: 2.5px 2.5px black;
    padding: 4px 8px;
    color: black;
    -webkit-appearance: none;
  }
  .delete:hover{
    background:red;
    color: white;
    text-decoration:none;
    box-shadow:none;
    border-color:white;
    }
  .tags-container{
    display:flex;
    flex-wrap: wrap;
    width: 90%;
  }
  .tag{
    display:flex;
    padding: 7px 10px;
    margin: 5px !important;
    background-color: #ffcaed;
    border: solid 2px #b4fd3e;
    align-items:center;
  }
  .post-info{
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .post-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38vw;
    margin-left:20px;
    // text-align:center;
  }
  .post-title-out{

  }
  .post-title:hover{
    background: $light-grey;
    color: $pink;
  }
  .image-div{
    display:flex;
    align-items:center;
    width: 30vw;
    justify-content: center;
  }
}


.next-prev-div{
  display:flex;
  justify-content:space-between;
  width:100%;
}

.img-circles{
  display:flex;
  justify-content:center;
}

.likes-n-comments{
  display: flex;
  justify-content: flex-end;
}
.all-posts{
  display:flex;
  flex-direction:column;
}

.post-image, .post-image-index{
  width: 250px;
  height: 250px;
  border-radius: 52px;
  border: solid black 1px;
  object-fit: cover;
  transition:cubic-bezier(1, 0, 0, 1);
}


.none{
  display:none;
}

h3{
  text-decoration: underline;
}



.small-p{
  font-size: 12px;
  margin: 0px;
  text-align: right;
}

.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top:20px;
}

.mb-10{
  margin-bottom: 10px;
}

.star{
  color:$yellow;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
               0.5px 0.5px #000, -0.5px -0.5px #000, 0.5px -0.5px #000, -0.5px 0.5px #000;
  margin: 2px;
}
.empty-star{
  color: #ffcaed;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
               0.5px 0.5px #000, -0.5px -0.5px #000, 0.5px -0.5px #000, -0.5px 0.5px #000;
  margin: 2px;
}

.mb-20{
  margin-bottom: 20px;
}




.sort-menu{
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0px 20px;
  align-items:center;
}

.likes-comments-container{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid black 0.5px;
  padding-bottom: 30px;
}

.comment-div{
  display:flex;
  flex-direction:column;
  padding: 10px;
  border-bottom: solid black 0.5px;
}


.tags-div{
  display:flex;
  justify-content:flex-start;
  flex-direction: column-reverse;
}

.filter-options{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.mr-5{
  margin-right: 5px;
}

.flex-start{
  align-self:flex-start;
}

.m-5{
  margin: 5px 0px;
}

.content-div{
  display:flex;
  justify-content:flex-end;
}

.no-underline{
  text-decoration: none;
}

.bold{
  font-weight: 700;
}


.comment{
  padding-left: 20px;
  font-size: 24px;
  color: $light-grey;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 3.5px 2.5px #000, -0.5px -0.5px #000, 3px 1px #000, -0.5px 0.5px #000;
}

.flex-info{
  // flex: 5;
}
