@media (max-width: 768px) {
  .sort{
    font-family: 'inconsolata', monospace;
    border-radius: 15px;
    height: 30px;
    border: 1.5px solid $green;
    background-color: #ffcaed;
    color: black;
  }

  label{
    font-family: 'inconsolata', monospace;
    font-size: 14px;
  }

  .image-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }



  .post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    margin: 0 auto;
    margin-top: 10px;
    padding: 30px 10px 30px 10px;
    position:relative;
  }

  .pt-0{
    padding-top: 0px;
  }


  .review-text {
    background-color: #ffcaed;
    // padding: 5px 15px;
  }

  .stars{
    display:flex;
    margin-bottom: 20px;
    align-self:center;
  }

  .post-container-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // margin: 0 auto;
    border-bottom: solid black 0.5px;
    padding: 30px 10px 30px 10px;
   }
   .delete-back {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 20px;
    width: 85vw;
  }

  .comments-container {
    display: flex;
    width: 85vw;
    margin: 0 auto;
    justify-content: center;
    flex-direction:column;
  }

  .map-filter-container{
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 10px;
  }

  .make-post{
    margin-top: 0px;
  }
  .border{
    margin-top: 25px;
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    height: 79vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .edit-border{
    margin-top: 25px;
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    height: 79vh;
  }

  .border-new-post {
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 74vh;
  }

  .profile-border {
    margin-top: 25px;
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    height: 79vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
  }

  .border-show{
    margin-top: 35px;
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    height: 78vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .delete-back-2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 40px;
    justify-content: center;
}
  h3{
    font-family: 'Rubik';
    font-size: 24px;
  }

  .no-posts{
    text-align: center;
    padding: 30px;
  }
  .no-underline{
    text-decoration: none;
  }
  .reply-btn-div{
    display:flex;
    justify-content: flex-end;
    padding-top:10px;
    margin-right: 10px;
  }

  // .edit-btn {
  //   font-size: 18px;
  //   margin-right: -45px;
  // }
  .delete{
    font-size: 14px;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    background-color: #FFCAED;
    border: solid red 1px;
    border-radius: 30px;
    box-shadow: 2.5px 2.5px red;
    padding: 4px 8px;
    color: red;
    -webkit-appearance: none;
  }
  .tags-container{
    display:flex;
    width: 70vw;
    flex-wrap: wrap;
  }
  .tag {
    display: flex;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #ffcaed;
    border: solid 2px #b4fd3e;
    align-items: center;
    margin: 7px !important;
  }
  .post-info{
    display:flex;
    width:95%;
    justify-content:space-between;
    align-items:center;
    margin-top: 10px;
  }
  .post-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94%;
  }
  .image-div{
    display:flex;
    align-items:center;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
  }
  .p-14{
    font-size: 14px;
    margin-bottom: 0px;
  }
  .delete-option{
    font-family: 'inconsolata';
    text-decoration: none;
    font-size: 20px;
    color: red;
    font-weight: 300;
    background:none;
    border:none;
    padding: 30px 20px;
    width:100%;
  }
  .post-settings{
    display:flex;
    justify-content: flex-end;
    padding: 0px 10px;
  }
}

@media (min-width: 769px) {
  .sort {
    font-family: 'inconsolata', monospace;
    border-radius: 15px;
    border: 2px solid #B4FD3E;
    background-color: #ffcaed;
    color: black;
    padding: 5px;
    margin-right: 5px;
}

  .image-text-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px 20px 0px;
  }

  .post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 65vw;
    margin: 0 auto;
    padding-bottom: 20px;
    position:relative;
  }

  .review-text {

    padding: 5px 15px 5px 0px;
    width: 100%;
  }

  .stars{
    display:flex;
    margin-bottom: 20px;
  }

  .post-container-show{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    border-bottom: solid black 0.5px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .delete-back{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 65vw;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .comments-container{
    width: 65vw;
    margin: auto;
  }

  .map-filter-container{
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  .make-post{
    margin-top: 0px;
    padding-top: 20px;
  }
  .border, .profile-border, .border-show, .border-new-post, .edit-border{
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    height: 87vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
  }

  .delete-back-2{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 130%;
  }

  h3{
    font-family: 'Rubik';
    font-size: 24px;
  }
  .no-posts{
    text-align: center;
    padding: 30px;
  }
  .reply-btn-div{
    display:flex;
    justify-content: flex-end;
    padding-top:10px;
  }
  .show-btn{
    font-size: 20px;
  }
  .show-btn:hover{
    text-decoration: underline;
  }

  .delete{
    font-size: 14px;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    background-color: #FFCAED;
    border: solid red 1px;
    border-radius: 30px;
    box-shadow: 2.5px 2.5px red;
    padding: 4px 8px;
    color: red;
    -webkit-appearance: none;
  }
  .delete:hover{
    background:red;
    color: white;
    text-decoration:none;
    box-shadow:none;
    border-color:white;
    }
  .tags-container{
    display:flex;
    flex-wrap: wrap;
    width: 90%;
  }
  .tag{
    display:flex;
    padding: 7px 10px;
    margin: 5px !important;
    background-color: #ffcaed;
    border: solid 2px #b4fd3e;
    align-items:center;
  }
  .post-info{
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .post-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34vw;
    margin-left:30px;
    // text-align:center;
  }
  .post-title:hover{
    // text-shadow: 0.5px 0 black, -0.5px 0 black, 0 0.5px black, 0 -0.5px black, 0.25px 0.25px black, -0.25px -0.25px black, 0.25px -0.25px black, -0.25px 0.25px black;
    color: yellow;
    text-decoration-color: black;
  }
  .image-div{
    display:flex;
    align-items:center;
    // width: 30vw;
    justify-content: flex-start;

  }
  .pt-0{
  }
  .p-14{
    font-size: 14px;
  }
  .delete-option{
    font-family: 'inconsolata';
    // text-decoration: none;
    font-size: 24px;
    color: red;
    font-weight: 300;
    background:none;
    border:none;
    padding: 30px 20px;
    width:100%;
  }
  .delete-option:hover{
    text-decoration: underline wavy;
    text-decoration-color: red;
    text-decoration-thickness: 1.8px;
  }

  .post-settings{
    display:flex;
    justify-content: flex-end;
    padding: 5px;
  }
}


.next-prev-div{
  display:flex;
  justify-content:space-between;
  width:100%;
}

.img-circles{
  display:flex;
  justify-content:center;
}

.likes-n-comments{
  display: flex;
  justify-content: flex-end;
}
.all-posts{
  display:flex;
  flex-direction:column;
}

.post-image, .post-image-index {
  width: 270px;
    height: 250px;
    border-radius: 10px;
  border: solid black 1px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: cubic-bezier(1, 0, 0, 1);
  }

.edit-image{
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: solid black 1px;
  object-fit: cover;
  position:relative;
}
.pos-abs{
  position: absolute;
  left: 100px;
    top: 0px;
}

.edit-img-all{
  display:flex;
  flex-wrap: wrap;
  padding-top: 15px;
  margin: 10px 0px;
  overflow-y: scroll;
}

.edit-img-container{
  position: relative;
  padding: 15px;
}

.none{
  display:none;
}

.small-p{
  font-size: 12px;
  margin: 0px;
  text-align: right;
}

.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top:20px;
}

.mb-10{
  margin-bottom: 10px;
}

.star{
  color:$yellow;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
               0.5px 0.5px #000, -0.5px -0.5px #000, 0.5px -0.5px #000, -0.5px 0.5px #000;
  margin: 2px;
}
.empty-star{
  color: #ffcaed;
  text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
               0.5px 0.5px #000, -0.5px -0.5px #000, 0.5px -0.5px #000, -0.5px 0.5px #000;
  margin: 2px;
}

.mb-20{
  margin-bottom: 20px;
}




.sort-menu{
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0px 20px;
  align-items:center;
}

.likes-comments-container{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid black 0.5px;
  padding-bottom: 30px;
}

.comment-div{
  display:flex;
  flex-direction:column;
  padding: 10px;
  border-bottom: solid black 0.5px;
}

.username-x{
  display:flex;
  justify-content: space-between;
}


.tags-div{
  display:flex;
  justify-content:flex-start;
  flex-direction: column-reverse;
}

.filter-options{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.mr-5{
  margin-right: 5px;
}

.flex-start{
  align-self:flex-start;
}

.flex-end{
  align-self:flex-end;
}

.m-5{
  margin: 5px 0px;
}

.content-div{
  display:flex;
  justify-content:flex-end;
}

.no-underline{
  text-decoration: none;
}

.bold{
  font-weight: 700;
}


.comment{
  padding-left: 20px;
  font-size: 24px;
  color: $light-grey;
  text-shadow: 0.75px 0 #000, -0.75px 0 #000, 0 0.75px #000, 0 -0.75px #000, 2.5px 2px #000, -0.5px -0.5px #000, 2.5px 0.75px #000, -0.25px 0.25px #000;
}

.flex-info{
  // flex: 5;
}

.post-title{
  font-size: 24px;
  color: black;
  text-decoration: underline wavy;
  text-decoration-color: yellow;
  // margin-top:0px;
  // text-shadow: 0.5px 0 yellow, -0.5px 0 yellow, 0 0.5px yellow, 0 -0.5px yellow, 0.25px 0.25px yellow, -0.25px -0.25px yellow, 0.25px -0.25px yellow, -0.25px 0.25px yellow;
}

.black{
  color: black;
  font-weight: 400;
}

#preview-pics{
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: $pink;
  border: solid black 0.5px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.dot-active {
  background-color: black;
}

.image-dots{
  display:flex;
  justify-content: center;
}


.delete-back-modal-background{
  position:absolute;
  height:100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #c49cb782;
  backdrop-filter: blur(5px);
  visibility: hidden;
}

.delete-back-modal{
  position:absolute;
  top: 150px;
  padding: 20px;
  background: #FFCAED;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  left: 20%;
  right: 20%;
  border: solid black 1px;
}



.edit-option{
  text-align:center;
  padding: 30px 20px;
}

.edit-option:hover{
  text-decoration: underline wavy;
  text-decoration-thickness: 1.8px;
}
