@media (max-width: 768px) {
  .welcome-profile{
    font-size: 32px;
    font-family: 'Geneva', sans-serif;
    color: $yellow;
    text-shadow: 0.5px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000,
                 0.25px 0.25px #000, -0.25px -0.25px #000, 0.25px -0.25px #000, -0.25px 0.25px #000;
    margin-bottom:10px;
    text-decoration:none;
    margin-top: 10px;
  }

  .profile-info{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    border-bottom: solid black 0.5px;
    width: 90vw;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .profile-info-2{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-bottom: 20px;
  }

  .text-center{
    text-align: center;
  }
  .dropdown-edit{
    font-size: 16px;
    padding:5px
  }
  .dropdown{
    position: relative;
    display: inline-block;
  }
  .text-right{
    text-align: center;

  }
  .text-left{
    text-align: left;
  }
  .likes-text{
    font-size: 16px;
    font-family: 'Geneva', sans-serif;
    color: $yellow;
    text-shadow: 0.25px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000,
                 0.25px 0.25px #000, -0.25px -0.25px #000, 0.25px -0.25px #000, -0.25px 0.25px #000;
    margin-bottom:10px;
    text-decoration:none;
    margin-top: 10px;
    text-align: center;
  }
  .text-date{
    text-align: center;
  }
  .first-post{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .welcome-profile{
    font-size: 40px;
    font-family: 'Geneva', sans-serif;
    color: $yellow;
    text-shadow: 0.5px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000,
                 0.25px 0.25px #000, -0.25px -0.25px #000, 0.25px -0.25px #000, -0.25px 0.25px #000;
    margin-bottom:10px;
    text-decoration:none;
  }
  .profile-info{
    display:flex;
    flex-direction:column;
    border-bottom: solid black 0.5px;
    width: 80vw;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom:20px;
    justify-content: space-between;
  }

  .profile-info-2{
    display:flex;
    align-items: center;
    justify-content:space-around;
    // border-bottom: solid black 1px;
    // width: 80vw;
    // margin: 0 auto;
  }

  .text-right{
    text-align: right;
    margin-top: 0px;
    font-weight: 300;
  }
  .dropdown-edit{
    font-size: 22px;
    padding:10px
  }
  .likes-text{
    font-size: 16px;
    font-family: 'Geneva', sans-serif;
    color: $yellow;
    text-shadow: 0.25px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000,
                 0.25px 0.25px #000, -0.25px -0.25px #000, 0.25px -0.25px #000, -0.25px 0.25px #000;
    margin-bottom:10px;
    text-decoration:none;
    margin-top: 10px;
    text-align: right;
  }
  .text-date{
    text-align: right;
  }
  .first-post{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.prof-pic{
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid black 1px;
  align-self: center;
  background: cornsilk;
}


.edit-pic:hover{
  opacity:75%;
  .edit-text{
    display:block;
  }

}

.edit-pic{
  position: relative;
}

.edit-text{
  display:none;
  position: absolute;
  z-index: 2;
  background: #ffffffd6;
  bottom: 15px;
  right: 35px;
  padding: 6px;
}


.dropdown{
  position: relative;
  display: inline-block;
  align-self:center;
}

.dropdown-btn{
  background: none;
  border: none;
  font-family: 'Inconsolata', monospace;
  font-size: 22px;
  position: static;
}


.dropdown-content{
  display:none;
  position: absolute;
  flex-direction: column;
  background: $orange;
  padding: 10px;
}

.dropdown-content:hover{
  display:flex;
  flex-direction: column;
  background: $orange;
  padding: 10px;
}

.dropdown-content a:hover {
  display:flex;
  flex-direction: column;
  padding: 10px;
  background-color: $pink;
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display:flex;
  flex-direction: column;
  background: $orange;
  padding: 10px;
}

.dropdown:hover .dropdown-btn {
  text-decoration: underline;
}

.profile-pic-link:hover{
  opacity:75%;
}



.profile-text{
  padding: 0px 40px 0px 40px;
}

.black-gear{
  color:black;
}
