@media (max-width: 768px) {
  .welcome-profile{
    font-size: 32px;
    font-family: 'Geneva', sans-serif;
    color: $yellow;
    text-shadow: 0.5px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000,
                 0.25px 0.25px #000, -0.25px -0.25px #000, 0.25px -0.25px #000, -0.25px 0.25px #000;
    margin-bottom:10px;
    text-decoration:none;
    margin-top: 10px;
    width:95vw;
  }

  .saved-snacks{
    font-size: 32px;
    font-family: 'Geneva', sans-serif;
    color: $yellow;
    text-shadow: 0.5px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000,
                 0.25px 0.25px #000, -0.25px -0.25px #000, 0.25px -0.25px #000, -0.25px 0.25px #000;
    margin-bottom:10px;
    text-decoration:none;
    margin-top: 10px;
  }

  .profile-info, .user-profile-info{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    border-bottom: solid black 0.5px;
    width: 90vw;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .profile-info-2{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-bottom: 20px;
  }

  .text-center{
    text-align: center;
  }
  .dropdown-edit{
    font-size: 16px;
    padding:5px
  }
  .dropdown{
    position: relative;
    display: inline-block;
  }
  .text-right{
    text-align: center;

  }
  .text-left{
    text-align: left;
  }
  .likes-text{
    font-size: 16px;
    font-family: 'Geneva', sans-serif;
    color: $yellow;
    text-shadow: 0.25px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000,
                 0.25px 0.25px #000, -0.25px -0.25px #000, 0.25px -0.25px #000, -0.25px 0.25px #000;
    margin-bottom:10px;
    text-decoration:none;
    margin-top: 10px;
    text-align: center;
  }
  .text-date{
    text-align: center;
  }
  .first-post{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-prof-info-2{
    display:flex;
    flex-direction: column;
  }

  .saved-posts-modal {
    position: absolute;
    padding: 20px;
    background: #FFCAED;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    overflow-x: hidden;
    border: solid black 1px;
  }

  .saved-posts-div {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .profile-btns-div{
    display:flex;
    flex-direction: column;
  }
  .snack-map-btn{
    margin-top:20px;
  }
  .prof-pic{
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid black 1px;
    align-self: center;
    background: cornsilk;
  }
}
@media (min-width: 768px) {
  .welcome-profile, .saved-snacks{
    font-size: 40px;
    font-family: 'Geneva', sans-serif;
    color: $yellow;
    text-shadow: 0.5px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000,
                 0.25px 0.25px #000, -0.25px -0.25px #000, 0.25px -0.25px #000, -0.25px 0.25px #000;
    margin-bottom:10px;
    margin-top: 0px;
    text-decoration:none;
  }
  .user-profile-info{
    display:flex;
    flex-direction:column;
    border-bottom: solid black 0.5px;
    width: 80vw;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom:20px;
    justify-content: space-between;
  }

  .user-prof-info-2{
    display:flex;
    justify-content: space-between;
  }

  .profile-info{
    display:flex;
    flex-direction:column;
    border-bottom: solid black 0.5px;
    width: 80vw;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom:20px;
    justify-content: space-between;
  }

  .profile-info-2{
    display:flex;
    align-items: center;
    justify-content:space-around;
    // border-bottom: solid black 1px;
    // width: 80vw;
    // margin: 0 auto;
  }

  .saved-posts-div {
    overflow-y: scroll;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .text-right{
    text-align: right;
    margin-top: 0px;
    font-weight: 300;
  }
  .dropdown-edit{
    font-size: 16px;
    font-weight: 700;
    padding:10px
  }
  .likes-text{
    font-size: 16px;
    font-family: 'Geneva', sans-serif;
    color: $yellow;
    text-shadow: 0.25px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000,
                 0.25px 0.25px #000, -0.25px -0.25px #000, 0.25px -0.25px #000, -0.25px 0.25px #000;
    margin-bottom:10px;
    text-decoration:none;
    margin-top: 10px;
    text-align: right;
  }
  .text-date{
    text-align: right;
  }
  .first-post{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .saved-posts-modal{
    position: absolute;
    padding: 20px;
    background: #FFCAED;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    left: 20%;
    right: 20%;
    top: 10%;
    bottom: 10%;
  }

  .saved-image{
    width: 190px;
    height: 190px;
    border-radius: 10px;
    border: solid black 1px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 10px;
  }

  .profile-btns-div{
    display:flex;
  }

  .snack-map-btn{
    margin-left:20px;
  }
  .prof-pic{
    object-fit: cover;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: solid black 1px;
    align-self: center;
    background: cornsilk;
  }
}

.comment-pic{
  object-fit: cover;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid black 0.5px;
  align-self: center;
  background: cornsilk;
  margin-right: 8px;
}

.comment-prof-pic{
  display:flex;
  align-items:center;
}

.edit-pic:hover{
  opacity:75%;
  .edit-text{
    display:block;
  }

}

.edit-pic{
  position: relative;
}

.edit-text{
  display:none;
  position: absolute;
  z-index: 2;
  background: #ffffffd6;
  bottom: 15px;
  right: 35px;
  padding: 6px;
}


.dropdown-btn{
  background: none;
  border: none;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  position: static;
}
.dropdown-btn:hover{
  transform: rotate(90deg);
  transition-duration: 500ms;
}


.profile-pic-link:hover{
  opacity:75%;
}



.profile-text{
  padding: 0px 40px 0px 40px;
}

.black-gear{
  color:black;
}



.leave-a-comment{
  text-align: center;
  padding-top: 20px;
}

.align-center{
  align-self:center;
}

.saved-image:hover{
  opacity: 50%;
}

.no-snacks{
  text-align: center;
  width:100%;
}
