.search-container{
  width: 80vw;
  margin: 0 auto;
  padding-top: 40px;
}
.search-result{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid black;
}

.search-image{
  width: 150px;
  height: 150px;
  border-radius: 52px;
  border: solid black 1px;
}

.search-param{
  margin-top: 0px;
  background-color: $green;
  width: 15%;
}
