@media (max-width: 768px) {
  .search-result{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid black;
    padding: 30px 0px;
    margin-bottom: 20px;
    margin-top: 10px;

  }
  .search-param{
    margin-top: 0px;
    width: 50%;
  }

}
@media (min-width: 769px) {
  .search-result{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid black;
    padding: 10px 0px;
  }
  .search-param{
    margin-top: 0px;
    width: 15%;
  }
}

.search-container{
  width: 80vw;
  margin: 0 auto;
  padding-top: 40px;
}

.search-image{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: solid black 1px;
}

.search-content{
  width: 75%;
}
