<% if notice %>
  <div class="notice">
    <%= notice %>
    <button type="button" class="btn-close">
    <i class="fa-regular fa-circle-x"></i>
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert" role="alert">
    <%= alert %>
    <button type="button" class="btn-close">
    <i class="fa-regular fa-circle-x"></i>
    </button>
  </div>
<% end %>
