<% if notice %>
  <div class="notice" data-controller="flash">
    <%= notice %>
    <button type="button" class="btn-close"
            data-action="click->flash#hide">
    <i class="fa-solid fa-square-xmark"></i>
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert" role="alert" data-controller="flash">
    <%= alert %>
    <button type="button" class="btn-close"
            data-action="click->flash#hide">
    <i class="fa-solid fa-square-xmark"></i>
    </button>
  </div>
<% end %>
