<% if notice %>
  <div class="notice hide-animation" data-controller="flash">
    <%= notice %>
    <button type="button" class="btn-close"
            data-action="click->flash#hide">
      <i class="fa-regular fa-circle-xmark"></i>
    </button>
  </div>
<% end %>

<% if alert %>
  <div class="alert hide-animation" role="alert" data-controller="flash">
    <%= alert %>
    <button type="button" class="btn-close"
            data-action="click->flash#hide">
      <i class="fa-regular fa-circle-xmark"></i>
    </button>
  </div>
<% end %>
