<div class="notice invisible" data-controller="flash">
  <div class="notice-msg">
  </div>
  <button type="button" class="btn-close"
          data-action="click->flash#hide">
  <i class="fa-regular fa-circle-xmark"></i>
  </button>
</div>

<div class="alert invisible" role="alert" data-controller="flash">
  <div class="alert-msg">
  </div>
  <button type="button" class="btn-close"
          data-action="click->flash#hide">
  <i class="fa-regular fa-circle-xmark"></i>
  </button>
</div>
