<div class="stars">
  <% case @post.rating %>
  <% when 1 %>
    <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
  <% when 2%>
    <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
  <% when 3%>
    <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
  <% when 4%>
    <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
  <% when 5%>
    <i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
  <% when 6%>
    <i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
  <% when 7%>
    <i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
  <% when 8%>
    <i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star empty-star"></i><i class="fa-solid fa-star empty-star"></i>
  <% when 9%>
    <i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star empty-star"></i>
  <% when 10%>
    <i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star"><i class="fa-solid fa-star star">
  <% end %>
</div>
