<div class="home-container">
  <div class="home-btn-1  flex-1">
    <button class="login" data-controller="navbar">
     <%= link_to "login", "/users/sign_in", class: "nav-link" %>
    </button>
    <button class="welcome-btn" data-controller="navbar">
     <%= link_to "welcome!", "/", class: "nav-link " %>
    </button>
  </div>

  <div class="flex-13 pt-30">
    <div class="snacky-title">
      <h1 class="snacky">Snacky</h1>
      <h3 class="sign-in-text">FAQ</h3>
    </div>
    <div class="FAQ-div">
      <div class="question">
        <p class="big-p">What's snacky?</p>
      </div>
      <div class="answer-flex">
        <div class="answer">
          <p class="big-p">Snacky is your new favorite platform for sharing your favorite snacks and your personal thoughts on them</p>
        </div>
      </div>
      <div class="question">
        <p class="big-p">What can I post about?</p>
      </div>
      <div class="answer-flex">
        <div class="answer">
          <p class="big-p">Any snack experience you want to share and your indepth review of it, including your rating, the brand, where you found it and it's country of origin</p>
        </div>
      </div>
      <div class="question">
        <p class="big-p">Who can post?</p>
      </div>
      <div class="answer-flex">
        <div class="answer">
          <p class="big-p">Anyone with a passion for snacks!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home-btn-2 faq-signup flex-1">
    <button class="signup" data-controller="navbar">
      <%= link_to "signup", "/users/sign_up", class: "nav-link "  %>
    </button>
    <button class="faq" data-controller="navbar">
      <%= link_to "FAQ", "/faq", class: "nav-link " %>
    </button>
  </div>
</div>
