<div class="tag mt-10 mb-10">
  <p class="small-p mr-5"><%= post_tag.tag %></p>
  <% if @post.user_id == current_user.id %>
    <%= button_to post_post_tag_path(@post, post_tag.id), method: :delete, class:"tag-delete-btn" do %>
      <i class="fa-regular fa-circle-xmark"></i>
    <% end %>
  <% end %>
</div>
