<%= render 'shared/navbar' %>
<div class="border">
  <div class="form-container">
    <h2 class="underline">edit your post</h2>
    <%= render "form", post: @post %>
    <%= link_to :back, class:"back-btn" do %>
      <i class="fa-solid fa-hand-point-left back-hand"></i>
    <% end %>
  </div>
</div>
