<%= render 'shared/navbar' %>
<div class="border">
  <div class="form-container">
    <h2 class="welcome-profile center make-post">make a post</h2>
    <%= render "form", post: @post  %>
  </div>
</div>
