<%= render 'shared/navbar' %>
<div class="border-new-post">
  <div class="form-container">
    <h2 class="welcome-profile center make-post">review a snack</h2>
    <%= render "form", post: @post  %>
  </div>
</div>
