.mapboxgl-ctrl-geocoder {
  // border-radius: 15px;
  // border: solid black 0.75px;
  // margin-top:10px;
  // margin-bottom:10px;
  // padding: 8px;
  // width: 100%;
  // font-family: 'Inconsolata', monospace;
}

.mapboxgl-map {

}
.mapboxgl-ctrl-geocoder--input{
  font-size: 14px;
  border-radius: 20px;
  font-family: 'Inconsolata';
  border: solid 0.5px;
}
