.alert {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1000;
  background-color: $yellow;
  padding: 10px 20px;
  color: $orange;
  border-radius: 30px;
  border: $orange 1px solid;
  box-shadow: 4px 4px $orange;
  font-family: 'Inconsolata', monospace;
}
.notice {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1000;
  background-color: $yellow;
  padding: 10px 20px;
  color: $orange;
  border-radius: 30px;
  border: $orange 1px solid;
  box-shadow: 4px 4px $orange;
  font-family: 'Inconsolata', monospace;
}

.btn-close{
  color: $orange;
  background: none;
  border: none;
  font-size: 16px;
}

.btn-close:hover{
  color: orange;
}

.fade-out{
 opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
