@media (max-width: 768px) {
  .alert {
    position: fixed;
    bottom: 70px;
    right: 20px;
    left: 20px;
    z-index: 1000;
    background-color: #FFCAED;
    padding: 10px 14px;
    color: black;
    border-radius: 30px;
    border: black 1px solid;
    box-shadow: 3px 3px black;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    opacity: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
  }
  .notice {
    position: fixed;
    bottom: 70px;
    right: 20px;
    left: 20px;
    z-index: 1000;
    background-color: #FFCAED;
    padding: 10px 14px;
    color: black;
    border-radius: 30px;
    border: black 1px solid;
    box-shadow: 3px 3px black;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    opacity: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 769px) {
  .alert {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1000;
    background-color: $pink;
    padding: 10px 20px;
    color: black;
    border-radius: 30px;
    border: black 1px solid;
    box-shadow: 3px 3px black;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    opacity: 70%;
    display:flex;
    align-items:center;
    justify-content:center;
    display: flex;
    justify-content: space-between;
  }
  .notice {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1000;
    background-color: $pink;
    padding: 10px 20px;
    color: black;
    border-radius: 30px;
    border: black 1px solid;
    box-shadow: 3px 3px black;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    opacity: 70%;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  .btn-close:hover{
    opacity: 50%;
  }
}

.invisible{
  visibility: hidden;
}

.hide-animation{
  -webkit-animation: hideAnimation 0s ease-in forwards 4s;
  animation: hideAnimation 0s ease-in forwards 4s;

}
@keyframes hideAnimation {
  to {
    visibility: hidden;
  }
}




.btn-close{
  color: black;
  background: none;
  border: none;
  font-size: 16px;
}


.fade-out{
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.show{
  visibility:visible;
  transition: opacity 0.5s ease-in-out;
}
