.mapboxgl-popup {
  max-width: 200px;
  border-radius: 20px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-radius: 20px;
  border: solid black 0.75px;
}
.map-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width:80%;
  margin: 0 auto;
  padding-bottom: 40px;
  border-bottom: solid 0.5px black;
}

.map-container-show{
  padding: 30px 0px 30px 0px;
  height: 35vh;
  width: 65vw;
  justify-self: center;
  margin: 0 auto;
  border-bottom: solid 0.5px black;
}

.snack-map{
  padding:0px;
  margin: 10px 0px 10px 0px;
  font-size: 50px;
  font-family: 'Gluten', sans-serif;
  color: $yellow;
  text-shadow: 0.5px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000,
               0.25px 0.25px #000, -0.25px -0.25px #000, 0.25px -0.25px #000, -0.25px 0.25px #000;
  margin-top:0px;
  margin-bottom:20px;
}

.your-snack-map{
  padding: 40px 0px 0px 0px;
  margin: 10px 0px 10px 0px;
  font-size: 42px;
  font-family: 'Gluten', sans-serif;
  color: $yellow;
  text-shadow: 0.5px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000,
               0.25px 0.25px #000, -0.25px -0.25px #000, 0.25px -0.25px #000, -0.25px 0.25px #000;
  margin-top:0px;
  margin-bottom:20px;
}

.mapboxgl-ctrl-geocoder--input{
  font: 'Inconsolata', monospace;
  font-size: 16px;
}

// a{
//   font-size: 12px;
// }

.font-18{
  font-size: 18px;
}

.font-18:hover{
  color:white;
  background-color: black;
}

.mapboxgl-ctrl-attrib a {
  color: rgba(0,0,0,.75);
  text-decoration: none;
  font-size: 12px;
}
