
// change font size of mapbox search results //
// ul.suggestions{
//   max-width: 200px;
//   border-radius: 20px;
//   font-size: 12px !important;
// }
@media (max-width: 768px) {
  .pt-20{
    padding-top: 20px;
  }

  .size-30{
    font-size: 30px !important;
  }

  .map-container-show{
    padding: 30px 0px 30px 0px;
    height: 35vh;
    width: 85vw;
    justify-self: center;
    margin: 0 auto;
    // border-bottom: solid 0.5px black;
  }
  .map-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 20px 30px 40px;
    border-bottom: solid 0.5px black;
  }

  .map-container-profile{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 20px 30px 40px;
    height: 80%;
  }

  .snack-map{
    padding:0px;
    font-size: 42px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
    color: $yellow;
    text-shadow: 0.5px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000,
                 0.25px 0.25px #000, -0.25px -0.25px #000, 0.25px -0.25px #000, -0.25px 0.25px #000;
    margin-top:0px;
    margin-bottom:0px;
  }

.your-snack-map{
  margin: 10px 0px 10px 0px;
  font-size: 50px;
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-weight: 700;
  color: $yellow;
  text-shadow: 0.5px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000,
               0.25px 0.25px #000, -0.25px -0.25px #000, 0.25px -0.25px #000, -0.25px 0.25px #000;
  margin-bottom:20px;
}
}

.mapboxgl-ctrl-geocoder {
  border-radius: 0px;
  border: solid black 0.5px;
  box-shadow: none;
  background-color:$pink;
  color:black;
  padding:0px !important;
  }

@media (min-width: 768px) {
  .mapboxgl-popup-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    border-radius: 20px;
    border: solid black 0.75px;
  }

  .map-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom: solid 0.5px black;
    margin-bottom: 30px;
  }

  .map-container-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 10px 50px 50px 50px;
  }

  .map-container-show{
    padding: 30px 0px 30px 0px;
    height: 35vh;
    width: 65vw;
    justify-self: center;
    margin: 0 auto;
    border-bottom: solid 0.5px black;
  }

  .snack-map{
    padding:0px;
    font-size: 55px;
    font-family: "Space Mono", monospace;
    font-style: italic;
    font-weight: 700;
    color: $yellow;
    text-shadow: 0.5px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000,
                0.25px 0.25px #000, -0.25px -0.25px #000, 0.25px -0.25px #000, -0.25px 0.25px #000;
    margin-top:0px;
    margin-bottom:0px;

  }

  .your-snack-map{
    font-size: 55px;
    font-family: "Space Mono", monospace;
    font-style: italic;
    font-weight: 700;
    color: $yellow;
    text-shadow: 0.5px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000,
                0.25px 0.25px #000, -0.25px -0.25px #000, 0.25px -0.25px #000, -0.25px 0.25px #000;
    margin: 10px;
  }

  .snack-map-margin{
    margin-top:30px;
    margin-bottom:10px;
  }


  .font-18{
    font-size: 18px;
  }

  .font-18:hover{
    color:white;
    background-color: black;
  }

  .mapboxgl-ctrl-attrib a {
    color: rgba(0,0,0,.75);
    text-decoration: none;
    font-size: 12px;
  }
  .mapbox-ctrl-geocoder{
    width: 100% !important;
    max-width:100% !important;
  }
}
.map-container-profile{
  z-index: 30;
}


.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  width: 100% !important;
  max-width:100% !important;
}
