
.navbar{
  background-color: $orange;
  border: black solid 0.25px;
  height: 10vh;
  display: flex;
  align-items:center;
  position:sticky;
  top: 0px;
}

.nav-btn{
  border: black solid 0.5px;
  height: 100%;
}
.active{
  background-color: $pink;
  text-decoration: underline;
}

.nav-btn:active{
  background-color: $pink;
  text-decoration: underline;
}

a{
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
}

#home-nav{
  background-color: $grey;
  flex:1;
}

#home-nav:hover, #post-nav:hover, #login-nav:hover, #profile-nav:hover{
  background-color: $pink;
  text-decoration: underline;
}

#search-nav:hover,#search-nav:active{
  background-color: $pink;
}

#post-nav{
  background-color: $orange;
  flex:1;
}

#home-nav:active, #post-nav:active,   #login-nav:active,  #profile-nav:hover{
  background-color: $pink;
  text-decoration: underline 2px;
}

#search-nav{
  background-color: $green;
  flex:1;
}

#profile-nav{
  background-color: $light-grey;
  flex:1;
}

#login-nav{
  background-color: $light-grey;
  flex:1;
}

.input{
  font-family: 'inconsolata', monospace;
}
