
.navbar{
  background-color: $orange;
  border: black solid 0.25px;
  height: 10vh;
  display: flex;
  align-items:center;
  top: 0px;
}

.nav-link{
  font-size: 24px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.nav-btn{
  border: black solid 0.5px;
  height: 100%;
  background-color: $green;
  font-size: 24px;
  flex: 1;
}


.active{
  background-color: $pink !important;
  text-decoration: underline;
}



a{
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
}

#home-nav{
  background-color: $grey;
}


#home-nav:hover, #post-nav:hover, #login-nav:hover, #profile-nav:hover, #search-nav:hover{
  background-color: $pink;
  text-decoration: underline;
}


#post-nav{
  background-color: $orange;
}

#search-nav{
  background-color: $green;
}

#profile-nav{
  background-color: $light-grey;
}

#login-nav{
  background-color: $light-grey;
}

#home-nav-2{
  background-color: $grey;
}

#search-nav-2{
  background-color: $green;
}

.input{
  font-family: 'inconsolata', monospace;
}
.avatar-nav{
  display:flex;
  align-items:center;
  justify-content:space-evenly;
}
